---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Players Club - 404";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Localization not found, 404</h1>
    <p>Looks like this page got lost in translation</p>
  </div>
</BaseLayout>
