---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "GDB - 404";
---

<BaseLayout title={title}>
  <div class="content content--page">
    <h1>Localization not found, 404</h1>
    <p style="margin: 0 auto 0 0;">Looks like this page got lost in translation</p>
    <a href="/"><h2>Refresh</h2></p>
  </div>
</BaseLayout>
