---
import TextSlider from "../components/TextSlider.astro";
import Separator from "../components/Separator.astro";
import Search from "../components/Search.astro";
import Cross from "../assets/images/cross.svg";

type Props = {
  artistsTotal: number;
};

const { artistsTotal } = Astro.props;
---

<header class="title-header title-header--initial">
  
  <section>
    <div class="bio">
      <h2>I'm a translator specializing in game localization from English to Spanish.</h2>
    </div>
    <ul class="pills">
      <li>Translation</li>
      <li>Localization</li>
      <li>Transcreation</li>
      <li>Editing</li>
      <li>Proofreading</li>
      <li>LQA</li>
    </ul>
  </section>
  <!--
  <div>
    <button data-sort><TextSlider content="Sort" /></button>
    <button data-shuffle><TextSlider content="Shuffle" /></button>
    <div>
      <button data-search class="search"><TextSlider content="Search" /></button
      >
      <button data-clear class="clear hidden" aria-label="Clear search">
        <Cross width={14} height={14} />
      </button>
    </div>
  </div>
  <span><TextSlider content={artistsTotal} /></span>
  -->
</header>

<Separator />
<!-- <Search /> -->

<style>
  section {
    display: grid;
    gap: 1rem;
    max-width: var(--col-size-l);
  }

  .pills {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }
  
  .pills li {
    border: .1px solid var(--border-color-active);
    width: auto;
    padding: 0.5rem .85rem;
    font-size: 1rem;
    border-radius: 2rem;
    font-weight: 400;
    letter-spacing: .5px;
  }
  
  li {
    width: 100%;
    max-width: var(--col-size-m);
    list-style-type: none;
  }

  div {
    display: grid;
    list-style: none;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  
  div:has(> .search) {
    position: relative;
  }
  div:has(> .search--active) {
    margin-left: 1rem;
  }
  div:has(> .search--active)::before {
    pointer-events: none;
    content: "";
    position: absolute;
    left: -1rem;
    right: -1rem;
    top: -0.5rem;
    bottom: -0.5rem;
    border: 1px solid;
    border-radius: 2rem;
  }
  .search--active {
    &:focus-visible {
      color: inherit;
    }
  }
</style>
<script src="../scripts/gridActions.js"></script>
