---
import TextSlider from "../components/TextSlider.astro";
import Separator from "../components/Separator.astro";
import Search from "../components/Search.astro";
import Cross from "../assets/images/cross.svg";

type Props = {
  artistsTotal: number;
};

const { artistsTotal } = Astro.props;
---

<header class="title-header title-header--initial">
  
  <span>
    <h2>I'm a translator specializing in game localization from English to Spanish.</h2>
    <h3>Translation, Localization, Transcreation, Editing, Proofreading and LQA.</h3>
    <p>I offer translation, localization, transcreation, editing, proofreading, and LQA services to help your games connect authentically with Spanish-speaking audiences and expand into new markets.</p>
  </span>

  <ul class="services-grid">
    <li>
      <h3>PC, Consoles &amp; Mobile</h3>
      <p>I offer translation, localization, transcreation, editing, proofreading, and LQA services to help your games connect authentically with Spanish-speaking audiences and expand into new markets.</p>
    </li>
    <li>
      <h3>Gamer Vision</h3>
      <p>Gamers don’t settle for mediocrity and know how to spot quality. A well-designed game understands its audience and meets cultural and linguistic expectations. I bring the gamer insight your localization needs to succeed.</p>
    </li>
    <li>
      <h3>Glossary Creation</h3>
      <p>I create glossaries and termbases from scratch to streamline your game’s localization and minimize errors.</p>
    </li>
    <li>
      <h3>Adaptation and CATs</h3>
      <p>I work with MemoQ, Memsource (PhraseSkype SmartCat, and many more.</p>
    </li>
  </ul>
  <!--
  <div>
    <button data-sort><TextSlider content="Sort" /></button>
    <button data-shuffle><TextSlider content="Shuffle" /></button>
    <div>
      <button data-search class="search"><TextSlider content="Search" /></button
      >
      <button data-clear class="clear hidden" aria-label="Clear search">
        <Cross width={14} height={14} />
      </button>
    </div>
  </div>
  <span><TextSlider content={artistsTotal} /></span>
  -->
</header>

<Separator />
<Search />

<style>
  span {
    display: grid;
    gap: 1rem;
    max-width: var(--col-size-l);
  }
  
  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    position: relative;
    left: -2rem;
  }
  
  li {
    width: 100%;
    max-width: var(--col-size-m);
    list-style-type: none;
    padding: 1rem 2rem;
  }

  div {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
    margin: 0;
    padding: 0;
  }
  div:has(> .search) {
    position: relative;
  }
  div:has(> .search--active) {
    margin-left: 1rem;
  }
  div:has(> .search--active)::before {
    pointer-events: none;
    content: "";
    position: absolute;
    left: -1rem;
    right: -1rem;
    top: -0.5rem;
    bottom: -0.5rem;
    border: 1px solid;
    border-radius: 2rem;
  }
  .search--active {
    &:focus-visible {
      color: inherit;
    }
  }
</style>
<script src="../scripts/gridActions.js"></script>
