---
import TextSlider from "../components/TextSlider.astro";
import Separator from "../components/Separator.astro";
---

<footer>
  <p>I appreciate you visiting :) Happy to connect on <a href="https://www.linkedin.com/in/game-localization-gld/" class="linkedin">LinkedIn,</a><a href="https://tr.ee/bzc3MqmbLp" class="discord">Discord,</a>
    <a href="msteams://teams.microsoft.com/l/chat/0/0?users=topoide@hotmail.com" class="teams">Teams</a>
      or
    <a href="mailto:diazgonzaloluis@gmail.com" class="email">send an email</a>
  </p>
</footer>
<style>
  footer {
    padding: 5vh 0 2rem;
  }
  p {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: .35em;
    flex-wrap: wrap;
  }
</style>
