---
import TextSlider from "../components/TextSlider.astro";
import Separator from "../components/Separator.astro";
---

<footer>
  <p>I appreciate you visiting :) Happy to connect!</p>
  <p>
    Find me on 
    <a href="/" class="discord">Discord,</a>
    <a href="/" class="teams">Teams</a>
      or
    <a href="/" class="email">send an email</a> 
  </p>
</footer>
<style>
  footer {
    padding: 5vh 0 2rem;
  }
</style>
