---
import TextSlider from "../components/TextSlider.astro";
import Separator from "../components/Separator.astro";
---

<Separator />
<footer>
  <p>Happy to connect! Feel free to send an <a href="#">email</a> or reach out</p>
  <ul>
    <li>
      <a href="/">
        <h5>
          <TextSlider content="X" />
          <i class="fa-brands fa-linkedin"></i>
        </h5>
      </a>
    </li>
    <li>
      <a href="/">
        <h5>
          <TextSlider content="X" />
          <i class="fa-brands fa-discord"></i>
        </h5>
      </a>
    </li>
    <li>
      <a href="/">
        <h5>
          <TextSlider content="X" />
          <i class="fa-solid fa-envelope"></i>
        </h5>
      </a>
    </li>
  </ul>
</footer>
<style>
  footer {
    padding: 2rem 0;
  }
</style>
