---
import TextSlider from "../components/TextSlider.astro";
import Separator from "../components/Separator.astro";

// Get the current pathname
const currentPath = Astro.url.pathname;
// Define a map of routes
const routes = {
  "/": "Home",
  // "/releases/": "Releases",
  // "/store/": "Store",
  // "/history/": "History",
  "/contact/": "Contact",
};
// Determine the active route
const activeRoute = routes[currentPath] || null;
---

<header>
  <!-- <h1>
    <a href="/" class={activeRoute === "Home" ? "current" : ""}>
      <h1>
        <TextSlider content="Hola, I'm Gonzalo" />
      </h1>
    </a>
  </h1> -->
  <h1>Hola, I'm Gonzalo</h1>
  <!-- <a
        href="/contact/"
        class={activeRoute === "Contact" ? "current" : ""}
        data-astro-prefetch><TextSlider content="Hola!" /></a> -->
  <p>
    Find me on 
    <a href="/" class="discord">Discord,</a>
    <a href="/" class="teams">Teams</a>
      or
    <a href="/" class="email">send an email</a> 
  </p>
  <!-- <span><TextSlider content="Gameloc Specialist" /></span> -->
  <!--
    <ul>
     <li>
      <a
        href="/releases/"
        class={activeRoute === "Releases" ? "current" : ""}
        data-astro-prefetch><TextSlider content="Releases" /></a>
    </li> -->
    <!-- <li>
      <a
        href="/history/"
        class={activeRoute === "About me" ? "current" : ""}
        data-astro-prefetch><TextSlider content="About me" /></a>
    </li> -->
    <!-- <li>
      <a
        href="/store/"
        class={activeRoute === "Store" ? "current" : ""}
        data-astro-prefetch><TextSlider content="Store" /></a>
    </li> -->
    <!-- <li>
      <a
        href="/contact/"
        class={activeRoute === "Contact" ? "current" : ""}
        data-astro-prefetch><TextSlider content="Contact" /></a>
    </li> -->
  </ul>
</header>
<!-- <Separator /> -->

<style>
  header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }
  header a.current {
    pointer-events: none;
  }
  h1 {
    margin: 0 auto 0 0;
  }
  p {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: .35em;
    flex-wrap: wrap;
  }
  i {
    font-size: 1.5rem;
  }

  h5 {
    margin: auto;
  }
</style>
