---
import TextSlider from "../components/TextSlider.astro";
import Separator from "../components/Separator.astro";

// Get the current pathname
const currentPath = Astro.url.pathname;
// Define a map of routes
const routes = {
  "/": "Home",
  // "/releases/": "Releases",
  // "/store/": "Store",
  // "/history/": "History",
  "/contact/": "Contact",
};
// Determine the active route
const activeRoute = routes[currentPath] || null;
---

<header>
  <h1>
    <a href="/" class={activeRoute === "Home" ? "current" : ""}
      ><h1><TextSlider content="Hola, I'm Gonzalo" /></h1></a>

    <ul>
      <li><a href="/" class={activeRoute === "Home" ? "current" : ""}
        ><h5><TextSlider content="X" /><i class="fa-brands fa-linkedin"></i></h5></a>
      </li>
      <li><a href="/" class={activeRoute === "Home" ? "current" : ""}
        ><h5><TextSlider content="X" /><i class="fa-brands fa-discord"></i></h5></a>
      </li>
      <li><a href="/" class={activeRoute === "Home" ? "current" : ""}
        ><h5><TextSlider content="X" /><i class="fa-solid fa-envelope"></i></h5></a>
      </li>
    </ul>
  </h1>
  <!-- <span><TextSlider content="Gameloc Specialist" /></span> -->
  <ul>
    <!-- <li>
      <a
        href="/releases/"
        class={activeRoute === "Releases" ? "current" : ""}
        data-astro-prefetch><TextSlider content="Releases" /></a>
    </li> -->
    <!-- <li>
      <a
        href="/history/"
        class={activeRoute === "About me" ? "current" : ""}
        data-astro-prefetch><TextSlider content="About me" /></a>
    </li> -->
    <!-- <li>
      <a
        href="/store/"
        class={activeRoute === "Store" ? "current" : ""}
        data-astro-prefetch><TextSlider content="Store" /></a>
    </li> -->
    <!-- <li>
      <a
        href="/contact/"
        class={activeRoute === "Contact" ? "current" : ""}
        data-astro-prefetch><TextSlider content="Contact" /></a>
    </li> -->
  </ul>
</header>
<Separator />

<style>
  header {
    position: relative;
    display: grid;
    font-weight: 700;
    padding: 1rem 0;
    gap: 1rem;
  }
  header a.current {
    pointer-events: none;
  }
  h1 {
    font-weight: inherit;
    margin: 0;
  }
  ul {
    display: flex;
    list-style: none;
    gap: 1rem;
    margin: 0;
    padding: 0;
    grid-column: auto / span 2;
  }
</style>
