---
import { ClientRouter } from "astro:transitions";

import "../styles/global.css";

import { SEO } from "astro-seo";

import SmoothScroll from "../components/SmoothScroll.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "@fontsource-variable/instrument-sans";
import instrumentSansWoff2 from "@fontsource-variable/instrument-sans/files/instrument-sans-latin-wght-normal.woff2";

type Props = {
  title: string;
  description?: string;
};

const { title, description = "Gonzalo DB. Game localization" } = Astro.props;

// Current page value (/home, /about, /404 ...)
const currentPage =
  Astro.url.pathname.replace(/\/$/, "").split("/").pop() || "home";
---

<!doctype html>
<html lang="en" data-page={currentPage}>
  <head>
    <SEO
      title={title}
      description={description}
      charset="UTF-8"
      openGraph={{
        basic: {
          title: title,
          type: "image/jpeg",
          image: "/gdblocal-og.jpg",
        },
      }}
      twitter={{
        creator: "@codrops",
      }}
      extend={{
        // extending the default link tags
        link: [
          {
            rel: "icon",
            type: "image/png",
            sizes: "16x16",
            href: "/favicon/favicon-16x16.png",
          },
          {
            rel: "icon",
            type: "image/png",
            sizes: "32x32",
            href: "/favicon/favicon-32x32.png",
          },
          {
            rel: "apple-touch-icon",
            sizes: "180x180",
            href: "/favicon/apple-touch-icon.png",
          },
          { rel: "manifest", href: "/favicon/site.webmanifest" },
          { rel: "sitemap", href: "/sitemap-index.xml" },
          {
            rel: "preload",
            href: instrumentSansWoff2,
            as: "font",
            type: "font/woff2",
            crossorigin: "anonymous",
          },
        ],
        // extending the default meta tags
        meta: [
          { name: "twitter:image", content: "/gdblocal-og.jpg" },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: description },
          { name: "viewport", content: "width=device-width" },
          { name: "msapplication-TileColor", content: "#000000" },
          { name: "theme-color", content: "#ffffff" },
          { name: "generator", content: Astro.generator },
        ],
      }}
    />
    <ClientRouter />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <SmoothScroll />
    <!-- <Header /> -->
    <slot />
    <Footer />
    <script src="../scripts/imageFade.js"></script>
    <span class="particlesWrapper">
        <span class="particles particles--1">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1000"
            height="1000"
            viewBox="0 0 1000 1000"
          >
            <circle cx="945.5" cy="37.5" r="1.5" />
            <circle cx="260.5" cy="596.5" r="1" />
            <circle cx="429" cy="804" r="1" />
            <circle cx="591" cy="963" r="1" />
            <circle cx="129" cy="783" r="1" />
            <circle cx="337" cy="310" r="1" />
            <circle cx="440" cy="345" r="1" />
            <circle cx="742" cy="429" r="1" />
            <circle cx="140.5" cy="291.5" r="1.5" />
            <circle cx="335.5" cy="37.5" r="1.5" />
            <circle cx="660.5" cy="115.5" r="1.5" />
            <circle cx="461.5" cy="326.5" r="1.5" />
            <circle cx="647.5" cy="670.5" r="1.5" />
            <circle cx="140.5" cy="930.5" r="1.5" />
            <circle cx="798.5" cy="404.5" r="1.5" />
            <circle cx="557" cy="294" r="1.5" />
            <circle cx="53.5" cy="93.5" r="1.5" />
            <circle cx="407" cy="232" r="1" />
            <circle cx="679" cy="174" r="1" />
            <circle cx="220.5" cy="100.5" r="1" />
            <circle cx="693.5" cy="308.5" r="1" />
            <circle cx="650.5" cy="419.5" r="1" />
            <circle cx="915" cy="817" r="1" />
            <circle cx="249" cy="749" r="1" />
            <circle cx="712" cy="112" r="1.5" />
            <circle cx="819" cy="296" r="1.5" />
            <circle cx="890" cy="573" r="1.5" />
            <circle cx="965.5" cy="950.5" r="1.5" />
            <circle cx="677" cy="433" r="1.5" />
            <circle cx="333" cy="619" r="1.5" />
            <circle cx="250.5" cy="563.5" r="1.5" />
            <circle cx="34.5" cy="649.5" r="1.5" />
            <circle cx="599" cy="770" r="1.5" />
            <circle cx="651.5" cy="531.5" r="2.5" />
          </svg>
        </span>
        <span class="particles particles--2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1000"
            height="1000"
            viewBox="0 0 1000 1000"
          >
            <circle cx="945.5" cy="37.5" r="1.5" />
            <circle cx="260.5" cy="596.5" r="1" />
            <circle cx="429" cy="804" r="1" />
            <circle cx="591" cy="963" r="1" />
            <circle cx="129" cy="783" r="1" />
            <circle cx="337" cy="310" r="1" />
            <circle cx="440" cy="345" r="1" />
            <circle cx="742" cy="429" r="1" />
            <circle cx="140.5" cy="291.5" r="1.5" />
            <circle cx="335.5" cy="37.5" r="1.5" />
            <circle cx="660.5" cy="115.5" r="1.5" />
            <circle cx="461.5" cy="326.5" r="1.5" />
            <circle cx="647.5" cy="670.5" r="1.5" />
            <circle cx="140.5" cy="930.5" r="1.5" />
            <circle cx="798.5" cy="404.5" r="1.5" />
            <circle cx="557" cy="294" r="1.5" />
            <circle cx="53.5" cy="93.5" r="1.5" />
            <circle cx="407" cy="232" r="1" />
            <circle cx="679" cy="174" r="1" />
            <circle cx="220.5" cy="100.5" r="1" />
            <circle cx="693.5" cy="308.5" r="1" />
            <circle cx="650.5" cy="419.5" r="1" />
            <circle cx="915" cy="817" r="1" />
            <circle cx="249" cy="749" r="1" />
            <circle cx="712" cy="112" r="1.5" />
            <circle cx="819" cy="296" r="1.5" />
            <circle cx="890" cy="573" r="1.5" />
            <circle cx="965.5" cy="950.5" r="1.5" />
            <circle cx="677" cy="433" r="1.5" />
            <circle cx="333" cy="619" r="1.5" />
            <circle cx="250.5" cy="563.5" r="1.5" />
            <circle cx="34.5" cy="649.5" r="1.5" />
            <circle cx="599" cy="770" r="1.5" />
            <circle cx="651.5" cy="531.5" r="2.5" />
          </svg>
        </span>
        <span class="particles particles--3">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="1000"
            height="1000"
            viewBox="0 0 1000 1000"
          >
            <circle cx="945.5" cy="37.5" r="1.5" />
            <circle cx="260.5" cy="596.5" r="1" />
            <circle cx="429" cy="804" r="1" />
            <circle cx="591" cy="963" r="1" />
            <circle cx="129" cy="783" r="1" />
            <circle cx="337" cy="310" r="1" />
            <circle cx="440" cy="345" r="1" />
            <circle cx="742" cy="429" r="1" />
            <circle cx="140.5" cy="291.5" r="1.5" />
            <circle cx="335.5" cy="37.5" r="1.5" />
            <circle cx="660.5" cy="115.5" r="1.5" />
            <circle cx="461.5" cy="326.5" r="1.5" />
            <circle cx="647.5" cy="670.5" r="1.5" />
            <circle cx="140.5" cy="930.5" r="1.5" />
            <circle cx="798.5" cy="404.5" r="1.5" />
            <circle cx="557" cy="294" r="1.5" />
            <circle cx="53.5" cy="93.5" r="1.5" />
            <circle cx="407" cy="232" r="1" />
            <circle cx="679" cy="174" r="1" />
            <circle cx="220.5" cy="100.5" r="1" />
            <circle cx="693.5" cy="308.5" r="1" />
            <circle cx="650.5" cy="419.5" r="1" />
            <circle cx="915" cy="817" r="1" />
            <circle cx="249" cy="749" r="1" />
            <circle cx="712" cy="112" r="1.5" />
            <circle cx="819" cy="296" r="1.5" />
            <circle cx="890" cy="573" r="1.5" />
            <circle cx="965.5" cy="950.5" r="1.5" />
            <circle cx="677" cy="433" r="1.5" />
            <circle cx="333" cy="619" r="1.5" />
            <circle cx="250.5" cy="563.5" r="1.5" />
            <circle cx="34.5" cy="649.5" r="1.5" />
            <circle cx="599" cy="770" r="1.5" />
            <circle cx="651.5" cy="531.5" r="2.5" />
          </svg>
        </span>
      </span>
  </body>
</html>
